.banner
    .banner-animation
        img(src="./images/head-animation.png", alt="")
    .container 
        div(class='row row-align')
            -const bannerCol = ['col-lg-6','col-md-12','col-12']
            div(class=bannerCol)
                div(class="banner__item wow tada" data-wow-duration="1s" data-wow-delay="4s")
                    img(src="./images/banner-img.png", alt="")
            div(class=bannerCol)
                div(class="banner__item")
                    h5(class=" wow fadeInDown banner-small-title" data-wow-duration="1s" data-wow-delay="4s") POWERFULL AND CRETIVE DESIGN
                    h4(class=' wow jello section-title banner-title') Grow Your Software With 
                        span(class="text-theme") “Softino”
                    p(class=" wow fadeInUp banner-dsc" data-wow-duration="1s" data-wow-delay="4s") Softino is an all-new stylish Software For device that can show you things. awareness, drive traffic, connect with customers.
                    