.nav 
    .container
        div(class="nav-container container-margin max-height")
            .nav-container__logo
                a(href="#" class="logo")
                    img(src="./images/logo-theme-3.png", class="theme-logo" alt="")
            ul.nav-container__menu
                li(class="nav-container__menu-item")
                    a(href="#" class="nav-container__menu-link nav-container__menu-link--active") home 
                        span(class="sub-plus") + 
                li(class="nav-container__menu-item")
                    a(href="#" class="nav-container__menu-link") pages
                        span(class="sub-plus") + 
                li(class="nav-container__menu-item")
                    a(href="#" class="nav-container__menu-link") about us
                        span(class="sub-plus") + 
                li(class="nav-container__menu-item")
                    a(href="#" class="nav-container__menu-link") services
                        span(class="sub-plus") + 
                li(class="nav-container__menu-item")
                    a(href="#" class="nav-container__menu-link") blogs
                        span(class="sub-plus") + 
                li(class="nav-container__menu-item")
                    a(href="#" class="nav-container__menu-link") contact us
                        span(class="sub-plus") + 
            .nav-container__button
                a(href='#' class="button button-theme button--square button--style-first" data-text="Login")
                    span L
                    span o
                    span g
                    span i
                    span n
            .nav-container__bars
                div(class="bar bg-theme bar--top")
                div(class="bar bg-theme bar--center")
                div(class="bar bg-theme bar--bottom")
