.about
    .about__partern 
        img(src="./images/video-partern.png", alt="")
    .container
        .about__block
            div(class=" wow fadeInUp video__box col-lg-8")
                img(src="./images/video-img.png", alt="")
                div(class="video-button bg-theme" data-video="//www.youtube.com/embed/P_wKDMcr1Tg?autoplay=1")
                    .video-button__inner
                        span(class="flaticon-play-button")
                div(class="spinner")
                div(class="video__iframe")
                    span( title="Close(Esc)" class="iframe-close") X
                    iframe( class="iframe-video" src='' frameborder="0" allowfullscreen="")
            div(class="about__title col-lg-10")
                h3 Softino Is Built For 
                    span(class="text-theme") Software 
                    |Like You. With Useful Features An Intuitive Interface And 
                    span(class="text-theme") Powerful Design 
                    |Built By A Community Of Developers, It Helps You Focus On What You Do Best. 