mixin dots 
    ul.dots   
        li(class="dots__dot")
        li(class="dots__dot bg-theme")
        li(class="dots__dot")
mixin box-loader
    .box-loader
        span(class="bg-theme box-loader__dot")
        span(class="bg-theme box-loader__dot")
        span(class="bg-theme box-loader__dot")
        