mixin hexagon 
    .hexagon-partern
        .hexagon
            .hexagon__draw
        .hexagon
            .hexagon__draw 
        .hexagon
            .hexagon__draw 
        .hexagon
            .hexagon__draw 

