.about {
  position: relative;
  &__partern {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__block {
    margin-top: -94px;
    position: relative;
    .video__box {
      margin: 0 auto;
      position: relative;
      .video-button {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        cursor: pointer;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: #000;
          opacity: 0.2;
          border-radius: 50%;
        }
        &__inner {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 70%;
          height: 70%;
          transform: translate(-50%, -50%);
          background: inherit;
          border-radius: 50%;
          @include flex-box(flex,center,center);
          span {
              color: white;
          }
        }
      }
      .spinner {
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .about__title {
      margin: 0 auto;
      text-align: center;
      h3 {
        padding-top: 4rem;
        @include font-size(20, normal, 32);
        font-weight: weight(5);
        font-family: $f-title;
        color: $color-title;
        @include reponsive(tablet) {
          @include font-size(24, normal, 38);
        }
        @include reponsive(laptop) {
          @include font-size(26, normal, 42);
        }
        @include reponsive(desktop) {
          @include font-size(30, normal, 48);
        }
      }
    }
    .video__iframe {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 9999;
      transform: translate(-50%,-50%);
      background: #000;
      width: 100%;
      height:80%;
      box-shadow: $shadow-card;
      display: none;
      @include reponsive(laptop) {
          width: 80%;
      }
      &--show {
        @include flex-box(flex,center,center);
      }
      .iframe-video {
          width: 100%;
          height: 100%;
      }
      .iframe-close {
          position: absolute;
          top: -10%;
          right: 0;
          font-size: 2rem;
          color: #111;
          transform: rotate(90deg);
          cursor: pointer;
      }
    }
    &--style-2 {
      .video__iframe {
        height: 100%;
      }
    }
  }
}
