.hexagon-partern {
  .hexagon {
    position: relative;
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0rem;
    }
    &__draw {
      width: 30rem;
      height: 30rem;
      opacity: 0.05;
      background: #ff0844;
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
      margin: 0 auto;
      @include reponsive(laptop) {
        width: 20rem;
        height: 20rem;
      }
    }
    @include reponsive(laptop) {
        @for $i from 0 through 3 {
            &:nth-child(#{$i+1}) {
                .hexagon__draw {
                    animation-name: hexagon;
                    animation-duration: 2s;
                    animation-timing-function: linear;
                    animation-direction: alternate ;
                    animation-iteration-count: infinite;
                    animation-delay: $i*0.5s;
                }
            }
        }
    }        
  }
  @include reponsive(laptop) {
    display: flex;
    .hexagon {
      flex-basis: 25%;
    }
  }
}
