@mixin flex-box($x, $y, $z) {
  display: $x;
  align-items: $y;
  justify-content: $z;
}
//reponsive
@mixin reponsive($breakpoint) {
  @if ($breakpoint == desktop) {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @if ($breakpoint == laptop) {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
  @if ($breakpoint == tablet) {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if ($breakpoint == phone) {
    @media only screen and (min-width: 576px) {
      @content;
    }
  }
  @if ($breakpoint == default) {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }
}
//font-size
@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal) {
  font-size: $font-size * 0.1rem;
  @if $line-height == normal {
    line-height: normal;
  } @else {
    line-height: $line-height / $font-size;
  }
  @if $letter-spacing == normal {
    letter-spacing: normal;
  } @else {
    letter-spacing: #{$letter-spacing / $font-size}px;
  }
}
