.loading 
    .loading__item 
        .loading__item-child
        .loading__item-child
        .loading__item-child
        .loading__item-child
        .loading__item-text
            .item__character
                span s
                span o
                span f
                span t
                span i
                span n
                span o
